@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    font-family: "Gowun Dodum";
}

body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input {
    border-width: 1px;
    margin: 0;
    width: 90vw;
    height: 70vh;
    font-size: 16px;
    margin: 15px 0;
}

.input.light::selection {
    color: white;
    background-color: black;
}

.input.dark::selection {
    color: black;
    background-color: white;
}

.calculate {
    font-size: 18px;    
    background-color: white;
    border-width: 1px;
    border-style: solid;
    margin: auto;
}

.value {
    height: 24px;
}

.light {
    background-color: white;
    color: black;
    border-color: black;
}

.dark {
    background-color: black;
    color: white;
    border-color: white;
}

.footer > * {
    margin: 0 2px;
}

.fas {
    font-size: 20px;
}

.fa-question-circle:hover::after {
    opacity: 0;
    content: "";
}

.fa-question-circle:hover::after {
    content: "Ctrl + Enter to calculate\A Ctrl + = to increase font size\A Ctrl + - to decrease font size";
    opacity: 1;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 7px 10px;
    position: absolute;
    white-space:pre-wrap;
    left: 75px;
}